<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>892872803918-vf5pvka68djgtgk3tm708h4ie13rj6d7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.892872803918-vf5pvka68djgtgk3tm708h4ie13rj6d7</string>
	<key>API_KEY</key>
	<string>AIzaSyAvX1DZJ_IgigCjEsSaa7SRPEveaUIujz0</string>
	<key>GCM_SENDER_ID</key>
	<string>892872803918</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.capstone-project-intune</string>
	<key>PROJECT_ID</key>
	<string>intune-19e26</string>
	<key>STORAGE_BUCKET</key>
	<string>intune-19e26.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:892872803918:ios:378b143530217e06ec251f</string>
	<key>DATABASE_URL</key>
	<string>https://intune-19e26-default-rtdb.firebaseio.com</string>
</dict>
</plist>